In [1]:
import numpy as np
import pandas as pd
import os
os.getcwd()

'/Users/tahirabbas'

In [28]:
import os
os.chdir('/Users/tahirabbas/Desktop/hi')

In [29]:
import pandas as pd

file_path = 'olo.csv'

df = pd.read_csv(file_path, encoding='latin-1')
df.head()

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1949,14656.0,41128771.0,652230.0,0.40%,63.0
1,Afghanistan,AF,93,1950,98928.0,41128771.0,652230.0,0.40%,63.0
2,Afghanistan,AF,93,1951,190528.0,41128771.0,652230.0,0.40%,63.0
3,Afghanistan,AF,93,1952,282128.0,41128771.0,652230.0,0.40%,63.0
4,Afghanistan,AF,93,1953,388384.0,41128771.0,652230.0,0.40%,63.0

In [4]:
df1 = df.drop(['Code','Country','Calling Code'],axis=1)
df1.head(5)

,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,1949,14656.0,41128771.0,652230.0,0.40%,63.0
1,1950,98928.0,41128771.0,652230.0,0.40%,63.0
2,1951,190528.0,41128771.0,652230.0,0.40%,63.0
3,1952,282128.0,41128771.0,652230.0,0.40%,63.0
4,1953,388384.0,41128771.0,652230.0,0.40%,63.0

In [5]:
df1.head(5)
data=df1

In [6]:
import pandas as pd

data['Density(km2)'] = data['Density(km2)'].astype(str)
data['Density(km2)'] = data['Density(km2)'].str.extract('(\d+)')
data['Density(km2)'] = pd.to_numeric(data['Density(km2)'])

print(data['Density(km2)'])

0        63.0
1        63.0
2        63.0
3        63.0
4        63.0
         ...
21702    42.0
21703    42.0
21704    42.0
21705    42.0
21706    42.0
Name: Density(km2), Length: 21707, dtype: float64

In [7]:
import pandas as pd

data = pd.read_csv('olo.csv')

print("Initial Data:")
print(data.head())

data['Density(km2)'] = data['Density(km2)'].astype(str)

data['Density(km2)'] = data['Density(km2)'].str.extract('(\d+)')

data['Density(km2)'] = pd.to_numeric(data['Density(km2)'])

print("\nModified 'Density(km2)' Column:")
print(data['Density(km2)'])

data.to_csv('olo.csv', index=False)

Initial Data:
       Country Code Calling Code  Year  CO2 emission (Tons)  Population(2022)  \
0  Afghanistan   AF           93  1949              14656.0        41128771.0
1  Afghanistan   AF           93  1950              98928.0        41128771.0
2  Afghanistan   AF           93  1951             190528.0        41128771.0
3  Afghanistan   AF           93  1952             282128.0        41128771.0
4  Afghanistan   AF           93  1953             388384.0        41128771.0

       Area % of World  Density(km2)
0  652230.0      0.40%          63.0
1  652230.0      0.40%          63.0
2  652230.0      0.40%          63.0
3  652230.0      0.40%          63.0
4  652230.0      0.40%          63.0

Modified 'Density(km2)' Column:
0        63.0
1        63.0
2        63.0
3        63.0
4        63.0
         ...
21702    42.0
21703    42.0
21704    42.0
21705    42.0
21706    42.0
Name: Density(km2), Length: 21707, dtype: float64

In [8]:
df2=data
df2.head(5)

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1949,14656.0,41128771.0,652230.0,0.40%,63.0
1,Afghanistan,AF,93,1950,98928.0,41128771.0,652230.0,0.40%,63.0
2,Afghanistan,AF,93,1951,190528.0,41128771.0,652230.0,0.40%,63.0
3,Afghanistan,AF,93,1952,282128.0,41128771.0,652230.0,0.40%,63.0
4,Afghanistan,AF,93,1953,388384.0,41128771.0,652230.0,0.40%,63.0

In [9]:
f = df2[df2['CO2 emission (Tons)'] != 0.0]
z = (f['CO2 emission (Tons)'] == 0.0).any()
if z:
    print("There are still zero values in 'CO2 emission (Tons)' column.")
else:
    print("There are no zero values in 'CO2 emission (Tons)' column.")

There are no zero values in 'CO2 emission (Tons)' column.

In [10]:
df2.drop(["Country", "Code", "Calling Code", "Year"],axis=1,inplace=True)
df2.head(5)

   CO2 emission (Tons)  Population(2022)      Area % of World  Density(km2)
0              14656.0        41128771.0  652230.0      0.40%          63.0
1              98928.0        41128771.0  652230.0      0.40%          63.0
2             190528.0        41128771.0  652230.0      0.40%          63.0
3             282128.0        41128771.0  652230.0      0.40%          63.0
4             388384.0        41128771.0  652230.0      0.40%          63.0

In [11]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [12]:
target=df2['CO2 emission (Tons)']
target.head(5)

0     14656.0
1     98928.0
2    190528.0
3    282128.0
4    388384.0
Name: CO2 emission (Tons), dtype: float64

In [13]:
df2.drop(['CO2 emission (Tons)'],axis=1,inplace=True)
df2.head(5)

   Population(2022)      Area % of World  Density(km2)
0        41128771.0  652230.0      0.40%          63.0
1        41128771.0  652230.0      0.40%          63.0
2        41128771.0  652230.0      0.40%          63.0
3        41128771.0  652230.0      0.40%          63.0
4        41128771.0  652230.0      0.40%          63.0

In [14]:
df2['% of World'] = df2['% of World'].str.replace('%', '').astype(float)
df2.head()

   Population(2022)      Area  % of World  Density(km2)
0        41128771.0  652230.0         0.4          63.0
1        41128771.0  652230.0         0.4          63.0
2        41128771.0  652230.0         0.4          63.0
3        41128771.0  652230.0         0.4          63.0
4        41128771.0  652230.0         0.4          63.0

In [15]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
df3 = pd.DataFrame(imputer.fit_transform(df2), columns=df2.columns)
df3.head(5)

   Population(2022)      Area  % of World  Density(km2)
0        41128771.0  652230.0         0.4          63.0
1        41128771.0  652230.0         0.4          63.0
2        41128771.0  652230.0         0.4          63.0
3        41128771.0  652230.0         0.4          63.0
4        41128771.0  652230.0         0.4          63.0

In [16]:
model.fit(df3,target)

DecisionTreeClassifier()

In [17]:
model.score(df3,target)

0.038973602985212144

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score

X = df3[['Population(2022)', 'Area', '% of World', 'Density(km2)']] 
y = target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

modell = RandomForestRegressor()  
modell.fit(X_train, y_train)

y_pred = modell.predict(X_test)
print(y_pred)

[2.17484279e+10 3.07241229e+08 4.89086423e+07 ... 1.81216905e+07
 3.07241229e+08 1.21208146e+08]

In [19]:
from sklearn.metrics import r2_score

r_squared = r2_score(y_test, y_pred)
print(f"R-squared: {r_squared}")

R-squared: 0.3726098235952119

In [20]:
df3.head()

   Population(2022)      Area  % of World  Density(km2)
0        41128771.0  652230.0         0.4          63.0
1        41128771.0  652230.0         0.4          63.0
2        41128771.0  652230.0         0.4          63.0
3        41128771.0  652230.0         0.4          63.0
4        41128771.0  652230.0         0.4          63.0

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

y = target 
X = df3[['Population(2022)', 'Area', '% of World']] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

In [21]:
'''
population = float(input("Enter Population in 2022: "))
area = float(input("Enter Area: "))
percent_world = float(input("Enter % of World: "))
density = float(input("Enter Density (km2): "))

user_input = [[population, area, percent_world, density]]

prediction = modell.predict(user_input)

print(f"The prediction is: {prediction}")
'''

'\npopulation = float(input("Enter Population in 2022: "))\narea = float(input("Enter Area: "))\npercent_world = float(input("Enter % of World: "))\ndensity = float(input("Enter Density (km2): "))\n\nuser_input = [[population, area, percent_world, density]]\n\nprediction = modell.predict(user_input)\n\nprint(f"The prediction is: {prediction}")\n'

In [30]:
population = float(input("Enter Population in 2022: "))
area = float(input("Enter Area: "))
percent_world = float(input("Enter % of World: "))
density = float(input("Enter Density (km2): "))

user_input = [[population, area, percent_world, density]]

prediction = model.predict(user_input)

print(f"The prediction is: {prediction}")

Enter Population in 2022: 1032441
Enter Area: 3287590
Enter % of World: 2
Enter Density (km2): 431
The prediction is: [5122370.]

/Users/tahirabbas/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [23]:
population = float(input("Enter Population in 2022: "))
area = float(input("Enter Area: "))
percent_world = float(input("Enter % of World: "))
density = float(input("Enter Density (km2): "))

user_input = [[population, area, percent_world, density]]

prediction = model.predict(user_input)

print(f"The prediction is: {prediction}")

Enter Population in 2022: 41128771.0
Enter Area: 652230.0
Enter % of World: 0.4
Enter Density (km2): 63.0
The prediction is: [14656.]

/Users/tahirabbas/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [27]:
df.head(1)

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1949,14656.0,41128771.0,652230.0,0.40%,63.0

In [31]:
population = float(input("Enter Population in 2022: "))
area = float(input("Enter Area: "))
percent_world = float(input("Enter % of World: "))
density = float(input("Enter Density (km2): "))

user_input = [[population, area, percent_world, density]]

prediction = model.predict(user_input)

print(f"The prediction is: {prediction}")

Enter Population in 2022: 83369843
Enter Area: 357114
Enter % of World: 0.2
Enter Density (km2): 233
The prediction is: [468992.]

/Users/tahirabbas/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [32]:
population = float(input("Enter Population in 2022: "))
area = float(input("Enter Area: "))
percent_world = float(input("Enter % of World: "))
density = float(input("Enter Density (km2): "))

user_input = [[population, area, percent_world, density]]

prediction = model.predict(user_input)

print(f"The prediction is: {prediction}")

Enter Population in 2022: 33475870
Enter Area: 238533
Enter % of World: 0.2
Enter Density (km2): 140
The prediction is: [637536.]

/Users/tahirabbas/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(