In [1]:
import numpy as np
import pandas as pd
import os
os.getcwd()

'/Users/tahirabbas'

In [2]:
os.chdir('/Users/tahirabbas/Desktop/hi')

In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

data = pd.read_csv('hoho.csv')  
df=data
data.head(6)

,co2 emission,Unnamed: 1,solar energy,Unnamed: 3,wind speed,Unnamed: 5,hydroelectric potential,Unnamed: 7,Unnamed: 8,geothermal activity,Unnamed: 10,biomass availibility,Unnamed: 12,suitable enrgy,Suitable Energy,suitable energy
0,14656,NaN,2,NaN,1,NaN,0,NaN,NaN,0,NaN,1,NaN,Solar,Solar,Solar
1,40000,NaN,1,NaN,2,NaN,1,NaN,NaN,1,NaN,2,NaN,Biomass,NaN,NaN
2,98928,NaN,2,NaN,0,NaN,0,NaN,NaN,1,NaN,0,NaN,Solar,NaN,NaN
3,190528,NaN,0,NaN,1,NaN,1,NaN,NaN,0,NaN,1,NaN,biomass,NaN,NaN
4,282128,NaN,1,NaN,2,NaN,2,NaN,NaN,1,NaN,0,NaN,Hydroelectri,NaN,NaN
5,388384,NaN,0,NaN,1,NaN,1,NaN,NaN,2,NaN,2,NaN,Geothermal,NaN,NaN

In [4]:
df.loc[0, 'suitable enrgy'] = 'Solar'

# Save the modified dataset
df.to_csv('hoho.csv', index=False)  # Replace 'updated_dataset.csv' with your desired file name
df.head(2)

,co2 emission,Unnamed: 1,solar energy,Unnamed: 3,wind speed,Unnamed: 5,hydroelectric potential,Unnamed: 7,Unnamed: 8,geothermal activity,Unnamed: 10,biomass availibility,Unnamed: 12,suitable enrgy,Suitable Energy,suitable energy
0,14656,NaN,2,NaN,1,NaN,0,NaN,NaN,0,NaN,1,NaN,Solar,Solar,Solar
1,40000,NaN,1,NaN,2,NaN,1,NaN,NaN,1,NaN,2,NaN,Biomass,NaN,NaN

In [5]:
df.drop(['Unnamed: 1','Unnamed: 3','Unnamed: 5','Unnamed: 7','Unnamed: 8','Unnamed: 10','Unnamed: 12','suitable energy','Suitable Energy'],axis=1,inplace=True)

In [6]:
df.head(6)

,co2 emission,solar energy,wind speed,hydroelectric potential,geothermal activity,biomass availibility,suitable enrgy
0,14656,2,1,0,0,1,Solar
1,40000,1,2,1,1,2,Biomass
2,98928,2,0,0,1,0,Solar
3,190528,0,1,1,0,1,biomass
4,282128,1,2,2,1,0,Hydroelectri
5,388384,0,1,1,2,2,Geothermal

In [7]:
target=df['suitable enrgy']
target.head(5)

0           Solar
1         Biomass
2           Solar
3         biomass
4    Hydroelectri
Name: suitable enrgy, dtype: object

In [8]:
df.drop(['suitable enrgy'],axis=1,inplace=True)
df.head(5)

,co2 emission,solar energy,wind speed,hydroelectric potential,geothermal activity,biomass availibility
0,14656,2,1,0,0,1
1,40000,1,2,1,1,2
2,98928,2,0,0,1,0
3,190528,0,1,1,0,1
4,282128,1,2,2,1,0

In [9]:
model= DecisionTreeClassifier()

In [10]:
model.fit(df,target)

DecisionTreeClassifier()

In [17]:
model.score(df,target)

1.0

In [11]:
model.predict([[14656,2,1,0,0,1]])

/Users/tahirabbas/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Solar'], dtype=object)

In [12]:
co2_emission = float(input("Enter CO2 emission: "))
solar_energy = int(input("Enter Solar Energy (0 for low, 1 for moderate, 2 for high): "))
wind_speed = int(input("Enter Wind Speed (0 for low, 1 for moderate, 2 for high): "))
hydroelectric_potential = int(input("Enter Hydroelectric Potential (0 for low, 1 for moderate, 2 for high): "))
geothermal_activity = int(input("Enter Geothermal Activity (0 for low, 1 for moderate, 2 for high): "))
biomass_availability = int(input("Enter Biomass Availability (0 for low, 1 for moderate, 2 for high): "))

user_input = pd.DataFrame({
    'co2 emission': [co2_emission],
    'solar energy': [solar_energy],
    'wind speed': [wind_speed],
    'hydroelectric potential': [hydroelectric_potential],
    'geothermal activity ': [geothermal_activity],  
    'biomass availibility': [biomass_availability]
})

prediction = model.predict(user_input)
print(f"The predicted suitable energy is: {prediction}")

Enter CO2 emission: 14656
Enter Solar Energy (0 for low, 1 for moderate, 2 for high): 2
Enter Wind Speed (0 for low, 1 for moderate, 2 for high): 1
Enter Hydroelectric Potential (0 for low, 1 for moderate, 2 for high): 0
Enter Geothermal Activity (0 for low, 1 for moderate, 2 for high): 0
Enter Biomass Availability (0 for low, 1 for moderate, 2 for high): 1
The predicted suitable energy is: ['Solar']

In [14]:
co2_emission = float(input("Enter CO2 emission: "))
solar_energy = int(input("Enter Solar Energy (0 for low, 1 for moderate, 2 for high): "))
wind_speed = int(input("Enter Wind Speed (0 for low, 1 for moderate, 2 for high): "))
hydroelectric_potential = int(input("Enter Hydroelectric Potential (0 for low, 1 for moderate, 2 for high): "))
geothermal_activity = int(input("Enter Geothermal Activity (0 for low, 1 for moderate, 2 for high): "))
biomass_availability = int(input("Enter Biomass Availability (0 for low, 1 for moderate, 2 for high): "))

user_input = pd.DataFrame({
    'co2 emission': [co2_emission],
    'solar energy': [solar_energy],
    'wind speed': [wind_speed],
    'hydroelectric potential': [hydroelectric_potential],
    'geothermal activity ': [geothermal_activity], 
    'biomass availibility': [biomass_availability]
})

prediction = model.predict(user_input)
print(f"The predicted suitable energy is: {prediction}")

Enter CO2 emission: 388384
Enter Solar Energy (0 for low, 1 for moderate, 2 for high): 0
Enter Wind Speed (0 for low, 1 for moderate, 2 for high): 1
Enter Hydroelectric Potential (0 for low, 1 for moderate, 2 for high): 1
Enter Geothermal Activity (0 for low, 1 for moderate, 2 for high): 2
Enter Biomass Availability (0 for low, 1 for moderate, 2 for high): 2
The predicted suitable energy is: ['Geothermal']

In [16]:
co2_emission = float(input("Enter CO2 emission: "))
solar_energy = int(input("Enter Solar Energy (0 for low, 1 for moderate, 2 for high): "))
wind_speed = int(input("Enter Wind Speed (0 for low, 1 for moderate, 2 for high): "))
hydroelectric_potential = int(input("Enter Hydroelectric Potential (0 for low, 1 for moderate, 2 for high): "))
geothermal_activity = int(input("Enter Geothermal Activity (0 for low, 1 for moderate, 2 for high): "))
biomass_availability = int(input("Enter Biomass Availability (0 for low, 1 for moderate, 2 for high): "))

user_input = pd.DataFrame({
    'co2 emission': [co2_emission],
    'solar energy': [solar_energy],
    'wind speed': [wind_speed],
    'hydroelectric potential': [hydroelectric_potential],
    'geothermal activity ': [geothermal_activity], 
    'biomass availibility': [biomass_availability]
})

prediction = model.predict(user_input)
print(f"The predicted suitable energy is: {prediction}")

Enter CO2 emission: 190528
Enter Solar Energy (0 for low, 1 for moderate, 2 for high): 0
Enter Wind Speed (0 for low, 1 for moderate, 2 for high): 1
Enter Hydroelectric Potential (0 for low, 1 for moderate, 2 for high): 1
Enter Geothermal Activity (0 for low, 1 for moderate, 2 for high): 0
Enter Biomass Availability (0 for low, 1 for moderate, 2 for high): 1
The predicted suitable energy is: ['biomass']